section {
  background-color: #201f04;
}

  #projects ul {
    padding: 0 10px 80px 10px;
    margin: auto; /* To center the element*/
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;
    justify-items: center;
  }
  
  #projects li {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 95%;
    border-radius: 6px;
    box-shadow: 1px 1px 4px rgb(0, 0, 0, 0.2);
    overflow: hidden; /* Pour cacher le depassement de l'image sur les coins*/
  }
  
  #projects li img {
    width: 100%;
    height: 280px;
    object-fit: cover;
  }
  
  article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
  }
  
  /* Pour le titre de la liste des projets */
  #projects > h2 {
    text-transform: uppercase;
    color: black;
    text-align: center;
    padding-top: 55px;
  }
  
  /* On selectionne le button "explore"*/
  footer:last-child a {
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
  }
  
  @media all and (min-width: 742px) {
    .hamburger {
      display: none;
    }
  
    /* Pour la 2 eme section  */
    #projects ul {
      grid-template-columns: repeat(2, 1fr);
      padding: 0 35px 50px 35px;
      column-gap: 30px;
    }
  }
  
  @media all and (min-width: 1140px) {
    #projects ul {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 45px;
      padding: 30px 60px;
    }
  
    footer:last-child a:hover {
      animation: danse 300ms ease-out;
    }
  }